@import 'https://js.arcgis.com/4.10/esri/themes/dark/main.css';

.esri-view {
  height: 700px;
}
.app-map-view{
  width: 100%;
  height: 100%;
}
.search-control-item{
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  border: solid 1px #ddd;
}
.search-group{
  margin-bottom: 0;
}
.header{
  margin: 30px 0 20px;
  padding-bottom: 10px;
}

#infoDiv2 {
  position: absolute;
  top: 15px;
  left: 100px;
}