

<div [@routerTransition]>
    <div class="row">
        <div class="col-4">
            <div class="container">
                <h1>Lets' Add you to the WORLD</h1>
                <form class="create-form" [formGroup]="UserForm">
                  <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" id="name"  formControlName="name">
                  </div>
            
                  <div class="form-group">
                    <label for="alterEgo">Occupation</label>
                    <input type="text" class="form-control" id="occupation"  formControlName="occupation">
                  </div>
                  <div class="form-group">
                    <label for="type">Type</label>
                    <select class="form-control" (input)="setSelectedType($event)" formControlName="type">
                      <option selected="selected" selected value='employee'>Employee</option>
                      <option selected value='employer'>Employer</option>
                    </select>
                  </div>
                  <button type="button" class="btn btn-success"   (click) ="saveMapPosition()">Add To the MAP</button>
            
                </form>
           </div>
        </div>
            <div class="col-8">
                 <div #mapViewNode class ="app-map-view"> 
                  <div id="viewDiv" (mapLoaded)="mapLoadedEvent($event)"> </div>
                  <div id="infoDiv2">
                      <button  class="esri-component esri-widget esri-interactive" type="button" id="label-btn" value="Show" title="show map data" (click) ="createGraphices()"></button> 
                      
                    </div>
                 </div>
             </div>     
     </div>
</div>