<div class="login-page" [@routerTransition]>
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <img src="assets/images/logo.png" width="150px" class="user-avatar" />
            <h1>Enigma Freelance</h1>
            <form role="form" >
                <div class="form-content">
                    <div class="form-group">
                        <input type="email" ng-model="name" class="form-control input-underline input-lg" id="txtEmail" placeholder="{{ 'Email' | translate }}" formControlName="email">
                    </div>

                    <div class="form-group">
                        <input type="password" class="form-control input-underline input-lg" id="txtPassword" placeholder="{{ 'Password' | translate }}" formControlName="password" >
                    </div>
                </div>
                <a class="btn rounded-btn"  (click)="tryLogin(loginForm.value)" >{{ 'Log in' | translate }}</a>
                &nbsp;
                <a class="btn rounded-btn" [routerLink]="['/signup']">{{ 'Register' | translate }}</a>
                &nbsp;
                <a class="btn rounded-btn"  (click)="tryGoogleLogin()" >Login with Google</a>
                <br>
                <br>
                <!-- <div class="row">
                    <div class="col-md-4 col-md-offset-4">
                      <button type="button" class="btn btn-danger btn-block btnCSS" (click)="tryGoogleLogin()">Login with Google</button>
                    </div>
                </div> -->
                

                <label class="error">{{errorMessage}}</label>
                <label class="success">{{successMessage}}</label>

                
            </form>
        </div>



        <!-- <div class="row">
            <div class="col-md-4 col-md-offset-4">
              <button type="button" class="btn btn-primary btn-block btnCSS" (click)="tryFacebookLogin()">Login with Facebook</button>
            </div>
        </div> -->



    </div>
</div>
