<html>

<head>
    <title>Enigma Freelancer</title>
</head>
<body>
    <div class="main">
<div class="cards">
    <div class="image">
<img src="assets/images/web.jpg"> 
    </div>
    <div class="title">
<h3>web developers</h3>
    </div>
    <div class="des">
            <p>write your title description here...</p>
        <button>Read More...</button>
        
    </div>
</div>

<!-- cards-->

<div class="cards">
        <div class="image">
    <img src="assets/images/writes.jpg"> 
        </div>
        <div class="title">
    <h3>writers</h3>
        </div>
        <div class="des">
                <p>write your title description here...</p>
            <button>Read More...</button>
            
        </div>
    </div>


    <!-- cards-->

<div class="cards">
        <div class="image">
    <img src="assets/images/sales.jpg"> 
        </div>
        <div class="title">
    <h3>Sales marketing</h3>
        </div>
        <div class="des">
                <p>write your title description here...</p>
            <button>Read More...</button>
            
        </div>
    </div>

    <div class="cards">
            <div class="image">
        <img src="assets/images/mechanic.jpg"> 
            </div>
            <div class="title">
        <h3>Mechanics</h3>
            </div>
            <div class="des">
                    <p>write your title description here...</p>
                <button>Read More...</button>
                
            </div>
        </div>

        <div class="cards">
                <div class="image">
            <img src="assets/images/virtual.jpg"> 
                </div>
                <div class="title">
            <h3>Virtual assistant</h3>
                </div>
                <div class="des">
                        <p>write your title description here...</p>
                    <button>Read More...</button>
                    
                </div>
            </div>

            <div class="cards">
                    <div class="image">
                <img src="assets/images/design.jpg"> 
                    </div>
                    <div class="title">
                <h3>Designers</h3>
                    </div>
                    <div class="des">
                            <p>write your title description here...</p>
                        <button>Read More...</button>
                        
                    </div>
                </div>

    </div>
</body>
</html>
        