<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.0/css/all.css">   
        
       
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
            <div class="slider">
                    <div class="figure">
                    
                        <img src="assets/images/slide1.jpg">
                        <img src="assets/images/slide2.jpg">
                        <img src="assets/images/slide3.jpg">
                        <img src="assets/images/slide4.jpg">  
                    </div>
                </div>
         
     
        <div class="container">

            <div class="box">
                <div class="imgbox">
                    <img src="assets/images/tech.jpg"> 
                </div>
                <div class="details">
                    <div class="content">
                    <h2>Technicians</h2>
                        <p>Ac Repaires Electrcians Electronic Repaires</p>
                    </div>
                </div>
            </div>
            <div class="box">
                    <div class="imgbox">
                            <img src="assets/images/mechanic.jpg"> 
                        </div>
                        <div class="details">
                            <div class="content">
                            <h2>Vehicales</h2>
                                <p>Auto mechanic Car Wash Spare parts</p>
                            </div>
                        </div>
            </div>
            <div class="box">
                    <div class="imgbox">
                            <img src="assets/images/it.jpg"> 
                        </div>
                        <div class="details">
                            <div class="content">
                            <h2>IT</h2>
                                <p>Computer Repaires Data Entry Desing & creative</p>
                            </div>
                        </div>
            </div>
            <div class="box">
                    <div class="imgbox">
                            <img src="assets/images/profecinonal.jpg"> 
                        </div>
                        <div class="details">
                            <div class="content">
                            <h2>Profecianal</h2>
                                <p>Accountancy Arts&crafts IT consultancy</p>
                            </div>
                        </div>
            </div>
            <div class="box">
                    <div class="imgbox">
                            <img src="assets/images/personalized.jpg"> 
                        </div>
                        <div class="details">
                            <div class="content">
                            <h2>Personalized Services</h2>
                                <p>Caretaker/ Home nurse Fitness Trainees</p>
                            </div>
                        </div>
            </div>
            <div class="box">
                    <div class="imgbox">
                            <img src="assets/images/Printing.jpg"> 
                        </div>
                        <div class="details">
                            <div class="content">
                            <h2>Printing</h2>
                                <p>Printing tshirts & caps Type setting</p>
                            </div>
                        </div>
            </div>
            <div class="box">
                    <div class="imgbox">
                            <img src="assets/images/houses.jpg"> 
                        </div>
                        <div class="details">
                            <div class="content">
                            <h2>House</h2>
                                <p>Architects Boarding places House painting</p>
                            </div>
                        </div>
            </div>
            <div class="box">
                    <div class="imgbox">
                            <img src="assets/images/virtual.jpg"> 
                        </div>
                        <div class="details">
                            <div class="content">
                            <h2>Virtual asssistance</h2>
                                <p>Data entry Web Research</p>
                            </div>
                        </div>
            </div>
            <div class="box">
                    <div class="imgbox">
                            <img src="assets/images/writes.jpg"> 
                        </div>
                        <div class="details">
                            <div class="content">
                            <h2>Writing</h2>
                                <p>Essay Writing content Writing</p>
                            </div>
                        </div>
            </div>
        </div>
        <div class="howworks">
            <h1>How it works</h1>
            <div class="cen">
                <div class="works">
                        <i class="far fa-edit"></i>
                        <h2>Post a job(it's free)</h2>
                        <p>Tell us about ypur project. Enigma freelancer connects you with top talented around the island near you.</p>
                </div>
                <div class="works">
                        <i class="fas fa-user-friends"></i>
                        <h2>Freelancers come to you</h2>
                        <p>Get qualified proposals within 24 hours.Compare bids,reviews,and prior work.</p>
                </div>
                <div class="works">
                    <br>
                        <i class="fas fa-chalkboard-teacher"></i>
                        <h2>Collaborate easily</h2>
                        <p>Use Enigma freelancer to chat or video call, share files, and track project milestones from your desktop or mobile</p>
                </div>
                <div class="works">
                        <i class="far fa-credit-card"></i>
                        <h2>Payment simplified</h2>
                        <p>Pay hourly or fixed-price and receive invoices through Upwork. Only pay for work you authorize.</p>
                </div>
            </div>
        </div>

        <div class="team-section">
            <div class="inner-width">
                <h1>Meet Our Team</h1>
                <div class="pers">

                    <div class="pe">
                        <img src="assets/images/p1.jpg" alt="">
                        <div class="p-name">Sachith</div>
                        <div class="p-des">Founder/CEO</div>
                        <div class="p-sm"> 
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-instagram"></i></a>   
                        </div>
                    </div>

                    <div class="pe">
                        <img src="assets/images/p2.jpg" alt="">
                        <div class="p-name">Kavindu</div>
                        <div class="p-des">Developer</div>
                        <div class="p-sm"> 
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-instagram"></i></a>   
                        </div>
                    </div>

                    <div class="pe">
                        <img src="assets/images/p3.jpg" alt="">
                        <div class="p-name">Helaka</div>
                        <div class="p-des">Developer</div>
                        <div class="p-sm"> 
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-instagram"></i></a>   
                        </div>
                    </div>
                    <div class="pe">
                            <img src="assets/images/p4.jpg" alt="">
                            <div class="p-name">Umayangana</div>
                            <div class="p-des">Developer</div>
                            <div class="p-sm"> 
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="#"><i class="fab fa-instagram"></i></a>   
                            </div>
                        </div>       
                        
                        <div class="pe">
                                <img src="assets/images/p5.jpg" alt="">
                                <div class="p-name">Madhura</div>
                                <div class="p-des">Designer</div>
                                <div class="p-sm"> 
                                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                    <a href="#"><i class="fab fa-instagram"></i></a>   
                                </div>
                            </div> 

                            <div class="pe">
                                    <img src="assets/images/p6.jpg" alt="">
                                    <div class="p-name">Mahan</div>
                                    <div class="p-des">Marketing Manager</div>
                                    <div class="p-sm"> 
                                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                                        <a href="#"><i class="fab fa-twitter"></i></a>
                                        <a href="#"><i class="fab fa-instagram"></i></a>   
                                    </div>
                                </div> 
                </div>

                
            </div>
        </div>
  
        <section id="about">
            <div class="aboutcontainer">
                <div class="row">
                     <div class="col-md-5">
                        <div class="about-img"> 
                            <img class="shape" src="assets/images/about_tringle.png" alt="">
                            <img class="man" src="assets/images/about_man.png" alt="">
                        </div>
                    </div>

                    <br>
                    <div class="col-md-7" abou_right>

                        <h2 class="color-3"><b>About Us</b></h2>
                        <p class="p-first text white">
                           Enigma freelancer is the island largest freelancing and crowdsourcing marketplace by number 
                           of users and projects. we connect over 100,000 employers and freelancers island widley from all the regions.
                        </p>
                        <p class="text-white">
                           Through our marketplace, employers can hire freelancers to do work in areas such as IT field, Technicians, writing, virtual asssistance and many other job fileds.
                        </p>
                         <h3 class="color-3 social-link-text">
                            <button class="btn btn-danger">     
                            </button>
                        </h3>
                        <ul class="about-link">
                                <li><a href=""><i class="fa fa-fonticons"></i></a></li>
                                
                                <li><a href=""><i class="fa fa-envira"></i></a></li>
                                
                                
                                <li><a href=""><i class="fa fa-reddit-alien"></i></a></li>
                                
                                
                                <li><a href=""><i class="fa fa-dribbble"></i></a></li>
                                
                                
                                <li><a href=""><i class="fa fa-youtube-play"></i></a></li>
                         
                            </ul>

                    </div> 
                </div>
            </div>
        </section> 

    </body>
</html>