    
    
    
<div class="card mb-3">
    <div class="row no-gutters">
      <div class="col-md-4">

         
    <span style="color:red;" *ngIf="message">{{message}}</span>
    <input #file type="file" accept='image/*' (change)="preview(file.files)" />
    <img [src]="profilePicture" height="200" >
     <button class="btn btn-success"  (click) = "processFile()">Upload</button>
            

  
      </div>
      <div class="col-md-8">
        <div class="card-body">
            <h4 class="card-title">{{name}}</h4>
            <h6>{{occupation}}</h6>
            
                <p>{{aboutMe}}</p>
                <p>@{{name}}</p>
                <p><i class="fa fa-twitter">{{name}}enigma</i></p>
                <h6>
                                  <span><i class="fa fa-clock"></i> {{today | date:'shortTime'}}</span><br/>
                                  <span><i class="fa fa-calendar-alt"></i>{{today | date:'fullDate'}}</span><br/>
                                  <span><i class="fas fa-map-marker-alt"></i>NY</span>
                              </h6>
              
        </div>
      </div>
    </div>
  </div>

  <div class="card">
      <div class="card-header">
          Edit Profile Info
      </div>
      <div class="card-body">
        <form class="create-form" [formGroup]="editUserForm" novalidate (ngSubmit)="onFormSubmit()">
            <div class="form-group">
              <label >First Name</label>
                <input type="text" class="form-control" id="name" formControlName="name" placeholder=" ">
            </div>
            <div class="form-group">
              <label >Email</label>
             
                <input type="text" class="form-control" id="email" formControlName="email" placeholder=" ">
              
            </div>
            <div class="form-group">
              <label >Address</label>
             
                <input type="text" class="form-control" id="address" formControlName="address" placeholder=" ">
              
            </div>
            <div class="form-group">
              <label >Country</label>
             
                <input type="text" class="form-control" id="c-name" formControlName="country" placeholder=" ">
              
            </div>
            <div class="form-group">
              <label >About Me</label>
              
                <textarea name="" id="" class="form-control"  formControlName="aboutMe" cols="30" rows="5"></textarea>
              
            </div>
            <div class="form-group">
              <label >Birthday</label>
             
                <input type="text" class="form-control" id="b-day" formControlName="birthday" placeholder=" ">
              
            </div>
            <div class="form-group">
              <label >Occupation</label>
             
                <input type="text" class="form-control" id="occupation" formControlName="occupation" placeholder=" ">
            
            </div>
            <div class="form-group">
              <label >Contact No</label>
 
                <input type="text" class="form-control" id="contactNo" formControlName="contactNo"  placeholder=" ">
              
            </div>
            <div class="form-group">
              <label >Skills</label>
             
                <input type="text" class="form-control" id="skills" formControlName="skills" placeholder="http://www.demowebsite.com ">
          
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Save</button>
                <button type="button" class="btn btn-danger">Cancel</button>
                <button type="button" class="btn btn-danger"  (click)="nextPage()">Add Map Position</button>
            </div>
   </form>
    
      </div>
      <div class="card-footer text-muted">
        Edited 2 days ago
      </div>
    </div>